<template>
  <q-page>
    <div class="flex w-full">
      <div class="w-1/2 flex flex-col justify-content-end">
        <div class="flex flex-col gap-y-2 p-2">
          <div class="flex gap-x-2 justify-end">
            <q-btn
              outline
              color="primary"
              @click="limparCampos"
              :loading="store.loading"
              >Limpar Campos</q-btn
            >
            <q-btn
              push
              color="primary"
              @click="salvarTarefa"
              :loading="store.loading"
              >Salvar Tarefa</q-btn
            >
          </div>
          <div class="flex justify-end items-center">
            <q-select
              class="w-1/2"
              v-model="taskForm.values.category"
              :options="store.categories"
              option-label="description"
              option-value="id"
              label="Categoria"
            />
            <div class="w-1/2">
              <DateTimePickerComponent />
            </div>
          </div>
          <q-input
            @focus="taskForm.fieldFocus('title', true)"
            @blur="taskForm.fieldFocus('title', false)"
            v-model="taskForm.values.title"
            label="Title"
          />
          <span-error-component :error="taskForm.errors.title" />
          <q-input v-model="taskForm.values.url" label="Link" />
          <span-error-component :error="taskForm.errors.url" />
          <codemirror
            v-model="taskForm.values.js"
            placeholder="Code goes here..."
            :style="{ height: '400px' }"
            :autofocus="true"
            :indent-with-tab="true"
            :tab-size="2"
            :extensions="extensions"
          />
          <span-error-component :error="taskForm.errors.js" />
        </div>
        <q-btn outline color="primary" @click="processData">Obter dados</q-btn>
      </div>

      <div class="w-1/2 p-4 overflow-y-scroll">
        <vue-json-pretty
          v-if="store.data != null && !store.loading"
          v-model:data="store.data"
        />
        <vue-json-pretty v-else :data="{ dados: 'Sem dados' }" />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import Forms from '../types/forms';
import { useGepettoStore } from 'src/stores/gepetto.store';
import { defineComponent, watch } from 'vue';
import VueJsonPretty from 'vue-json-pretty';
import 'vue-json-pretty/lib/styles.css';

import { Codemirror } from 'vue-codemirror';
import { javascript } from '@codemirror/lang-javascript';
import SpanErrorComponent from 'src/components/SpanErrorComponent.vue';
import { GepettoTask } from 'src/stores/gepetto.store';
import DateTimePickerComponent from 'src/components/DateTimePickerComponent.vue';

export default defineComponent({
  name: 'HomeGepetto',
  components: {
    VueJsonPretty,
    Codemirror,
    SpanErrorComponent,
    DateTimePickerComponent,
  },
  setup() {
    const store = useGepettoStore();

    const taskForm = new Forms<GepettoTask>(store.task);

    taskForm.setValidationConfig({
      title: {
        validator: () => taskForm.values.title.length != 0,
        error: 'Digite um nome para a tarefa',
      },
      url: {
        validator: () => taskForm.values.url.length != 0,
        error: 'Digite algum link para buscar',
      },
    });

    const extensions = [javascript()];

    watch(taskForm.values, (nTaskForm) => {
      taskForm.validate();
    });

    watch(
      () => store.task,
      (task) => {
        console.log(task);
        return taskForm.setValues(task);
      }
    );

    return {
      store,
      taskForm,
      extensions,
    };
  },
  methods: {
    async processData() {
      this.store.setLoading(true);
      const scrape = await this.$axios.post('/gepetto', {
        url: this.taskForm.values.url,
        js: this.textPlain,
      });
      this.store.setData(scrape.data);
      this.store.setLoading(false);
    },
    async salvarTarefa() {
      if (this.taskForm.validate(true)) {
        await this.store.setLoading(true);
        await this.store.addTask(this.$axios, {
          ...this.taskForm.values,
        });
        await this.store.setLoading(false);
        this.store.loadTasks(this.$axios);
      }
    },
    limparCampos() {
      this.store.clearTask();
    },
  },
  computed: {
    textPlain() {
      const div = document.createElement('div');
      div.innerHTML = this.taskForm.values.js;
      return div.textContent || div.innerText || '';
    },
  },
});
</script>
