<template>
  <div class="p-2 m-2">
    <q-tree :nodes="categories" node-key="label" default-expand-all>
      <template v-slot:header-task="prop">
        <div class="w-full">
          <task-item-component
            v-bind:key="prop.node.id"
            :title="prop.node.title + 'aasasdasdasd'"
            :url="prop.node.url"
            :js="prop.node.js"
            :id="prop.node.id"
            :trigger="prop.node.trigger"
            :category="prop.node.category"
          />
        </div>
      </template>
    </q-tree>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TaskItemComponent from './TaskItemComponent.vue';
export default defineComponent({
  name: 'CategoryTreeComponent',
  props: ['categories'],
  setup() {
    return {
      expanded: ref([]),
    };
  },
  components: { TaskItemComponent },
});
</script>
