<template>
  <div class="q-pa-md" style="max-width: 300px">
    <q-input filled v-model="dataFormatada">
      <template v-slot:prepend>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-date v-model="dataFormatada" mask="DD/MM/YYYY HH:mm">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>

      <template v-slot:append>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-time v-model="dataFormatada" mask="DD/MM/YYYY HH:mm" format24h>
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat />
              </div>
            </q-time>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<script lang="ts">
import { useGepettoStore } from 'src/stores/gepetto.store';
import { defineComponent, ref, watch } from 'vue';
import { format, parse } from 'date-fns';
import { ptBR } from 'date-fns/locale';
export default defineComponent({
  name: 'DateTimePickerComponent',
  setup() {
    const store = useGepettoStore();
    const dataFormatada = ref<string>('');

    const dateFormatter = () => {
      console.log(store.task.trigger);
      dataFormatada.value = format(store.task.trigger!, 'dd/MM/yyyy HH:mm', {
        locale: ptBR,
      });
    };

    watch(dataFormatada, (data) => {
      if (data) {
        // Convertendo para o formato ISO 8601
        const dataLocal = parse(data, 'dd/MM/yyyy HH:mm', new Date(), {
          locale: ptBR,
        });
        const dataISO = format(dataLocal, "yyyy-MM-dd'T'HH:mm:ss");
        store.task.trigger = new Date(dataISO);
        console.log('TRIGGER: ', store.task.trigger);
      }
    });

    watch(
      () => store.task.trigger,
      (trigger) => {
        if (trigger) {
          dataFormatada.value = format(new Date(trigger!), 'dd/MM/yyyy HH:mm', {
            locale: ptBR,
          });
        } else {
          dataFormatada.value = '';
        }
      }
    );

    return {
      store,
      dataFormatada,
    };
  },
});
</script>
