<template>
  <span
    v-if="error"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
    role="alert"
    >{{ error }}</span
  >
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'SpanErrorComponent',
  props: ['error'],
});
</script>
