<template>
  <div class="border p-2 m-2 flex flex-col gap-y-2 justify-between items-end">
    <div class="flex align-center w-full">
      {{ title }}
    </div>
    <div class="flex items-center justify-end">
      <q-btn
        @click="store.setTask(id, title, url, js, trigger, category)"
        color="secondary"
        icon="edit"
        size="sm"
        flat
      />
      <q-btn
        @click="executeTask(url, js)"
        color="secondary"
        icon="play_arrow"
        size="sm"
        outline
      />
    </div>
  </div>
</template>

<script lang="ts">
import { useGepettoStore } from 'src/stores/gepetto.store';
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'TaskItemComponent',
  props: ['id', 'title', 'url', 'js', 'trigger', 'category'],
  setup() {
    const store = useGepettoStore();
    return {
      store,
    };
  },
  methods: {
    async executeTask(url: string, js: string) {
      await this.store.executeTask(this.$axios, url, js);
    },
  },
});
</script>
