<template>
  <q-layout view="hHh LpR lFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title> Gepetto </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="left">
        <q-route-tab to="/" label="Tarefas" />
        <q-route-tab to="/" label="Categorias" />
      </q-tabs>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <q-list>
        <q-item-label header> Fila de Tarefas </q-item-label>
        <category-tree-component :categories="store.categoriesNodes" />

        <!-- <div v-if="store.tasks.length > 0">
          <task-item-component
            v-for="task in store.tasks"
            v-bind:key="task.id"
            :title="task.title"
            :url="task.url"
            :js="task.js"
            :id="task.id"
            :trigger="task.trigger"
            :category="task.category"
          />
        </div> -->
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue';
import { useGepettoStore } from 'src/stores/gepetto.store';
import TaskItemComponent from 'src/components/TaskItemComponent.vue';
import CategoryTreeComponent from 'src/components/CategoryTreeComponent.vue';

export default {
  setup() {
    const leftDrawerOpen = ref(false);
    const store = useGepettoStore();
    return {
      leftDrawerOpen,
      store,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
  mounted() {
    this.store.loadTasks(this.$axios);
    this.store.loadCategories(this.$axios);
  },
  components: {
    TaskItemComponent,
    CategoryTreeComponent,
  },
};
</script>
